@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

h1{
    font-family: 'PT Sans', sans-serif;
    color: #6E604C;
}

p{
    font-family: 'Didact Gothic', sans-serif;
}

label{
    color: #372F3B !important;
    font-family: 'Didact Gothic', sans-serif;
    
}

input, textarea{
    border-radius: 2rem !important;
}

.button-style{
    background-color:#F3D4B2;
    color: #372F3B;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    border: 0;
    font-family: 'Didact Gothic', sans-serif;
    margin-right: 1rem;
}

.button-style:hover{
    background-color: #372F3B;
    color: #F3D4B2;
}

