#event-item{
    background-color: #372F3B;
    color:  #F3D4B2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.event-item-disabled{
    background-color: #bab7ad;
    color: #59554b;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align:center;
    text-decoration: line-through;
    opacity: .5;
}