<div class="main">


    <div class="container-fluid" id="calendar-hero-header">
        <p class="text-center" id="hero-header-legend">Organisation du mariage de {{ bride.value }} et {{groom.value}} </p>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Les mariés</h1>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

                    <div class="form-group">

                        <label for="bride">Nom et prénom de "Bibi Haroussi" (la mariée)</label>
                        <input name="bride" ngModel required #bride="ngModel" type="text" class="form-control">

                    </div>

                    <div class="form-group">

                        <label for="groom">Nom et prénom de "Bwana Haroussi"(le marié)</label>
                        <input name="groom" ngModel required #groom="ngModel" type="text" class="form-control">

                    </div>

                    <button class="button-style">Valider</button>
                </form>
            </div>

            <div class="col-md-6">
                <h1 class="text-center">Ajouter un événement</h1>

                <form [formGroup]="eventForm" (ngSubmit)="addEvent()">

                    <div class="form-group">

                        <label for="event">Intitulé de l'événement</label>
                        <input type="text" class="form-control" name="event" formControlName="title">

                        <label for="date">Saisir une date</label>
                        <input type="date" class="form-control" name="date" formControlName="date">

                    </div>

                    <button type="submit" class="button-style">Ajouter</button>
                </form>
            </div>
        </div>

        <h1 class="text-center">Déroulé des événements</h1>

        <div id="eventList">

        </div>

    </div>

</div>