/*----------------
    NAVIGATION
------------------*/ 

nav{
    width: 100%;
    background: $dark-color;
    overflow: hidden;
}

.logo{
    float: left;
    font-size: 3rem;
    color: $pink-candy;
    line-height: 6rem;
    padding: 0 6rem;
    font-family: 'Ovo', serif;
}

#top-menu{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Ovo', serif;
}

#top-menu li{
    list-style: none;
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
}

#top-menu li:hover, #top-menu li.active:hover{
    background: $pink-candy;
    color: $dark-color;
}

#top-menu a{
    color: white;
    text-decoration: none;
}

.toggle{
    width: 100%;
    padding: 1rem 2rem;
    background: $dark-color;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 2.5rem;
    display: none;
}

@media (max-width: 833px){
    .toggle{
        display: block;
    }

    #top-menu{
        width: 100%;
        display: none;
    }
    
    #top-menu li{
        display: block;
        text-align: center;
    }

    #top-menu.active{
        display: block;
    }
    
    .menu-button{
        cursor: pointer;
    }
}

@media (min-width: 890px) and (max-width: 924px){
    #top-menu{
        width: 104%;
    }
}

@media (min-width: 881px) and (max-width: 889px){
    #top-menu{
        width: 105%;
    }
}


@media (min-width: 873px) and (max-width: 880px){
    #top-menu{
        width: 106%;
    }
}

@media (min-width: 865px) and (max-width: 872px){
    #top-menu{
        width: 107%;
    }
}

@media (min-width: 849px) and (max-width: 864px){
    #top-menu{
        width: 109%;
    }
}

@media (min-width: 834px) and (max-width: 848px){
    #top-menu{
        width: 111%;
    }
}

@media (min-width: 379px) and (max-width: 398px){
   .logo{
       padding: 0 5rem;
   }
}

@media (min-width: 359px) and (max-width: 378px){
    .logo{
        padding: 0 4rem;
    }
 }

 @media (min-width: 350px) and (max-width: 358px){
    .logo{
        padding: 0 3rem;
    }
 }






