<h1 class="text-center">Tableau de bord</h1>

<p class="text-center">Que voulez faire ?</p>

<div class="container">
    <div class="row">
        <div class="col-md-12 category">
            <a routerLink="/calendar">
                <div class="text-center icon-size">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </div>
                <p class="text-center">Planifier les évènements</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <a routerLink="/providers">
                <div class="text-center icon-size">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
                <p class="text-center">Chercher un prestataire</p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <a routerLink="/messages">
                <div class="text-center icon-size">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
                <p class="text-center">
                    Accéder à la messagerie
                </p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <a routerLink="/blog">
                <div class="text-center icon-size">
                    <fa-icon [icon]="faBlog"></fa-icon>
                </div>
                <p class="text-center">
                    Visiter le blog
                </p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <a routerLink="/profile">
                <div class="text-center icon-size">
                    <fa-icon [icon]="faUserEdit"></fa-icon>
                </div>
                <p class="text-center">Informations personnelles</p>
            </a>
        </div>
    </div>

</div>