<h1 class="text-center">Tableau de bord</h1>

<p class="text-center">Que voulez faire ?</p>

<div class="container">
    <div class="row">
        <div class="col-md-12 category">
            <div class="text-center icon-size"><fa-icon [icon]="faCalendarAlt"></fa-icon></div>
            <p class="text-center">Planifier les évènements</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <div class="text-center icon-size"><fa-icon [icon]="faSearch"></fa-icon></div>
            <p class="text-center">Chercher un prestataire</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <div class="text-center icon-size"><fa-icon [icon]="faEnvelope"></fa-icon></div>
            <p class="text-center">
            Accéder à la messagerie
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <div class="text-center icon-size"><fa-icon [icon]="faBlog"></fa-icon></div>
            <p class="text-center">
                Visiter le blog
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 category">
            <div class="text-center icon-size"><fa-icon [icon]="faUserEdit"></fa-icon></div>
            <p class="text-center">Informations personnelles</p>
        </div>
    </div>     

</div>
