@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');



h1{
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #40384B;
}

input{
    border-radius: 2rem !important;
    border: 0;
}

label{
    color: #40384B !important;
    text-shadow: 1px 1px 2px #F3D4B2 !important;
    font-family: 'Alegreya', serif;
}

a{
    color: #40384B;
}

a:hover{
    color: #F3D4B2;
    text-decoration: none;
}

.button-style{
    background-color:#F3D4B2;
    color: #40384B;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    border: 0;
    font-family: 'Alegreya', serif;
}

.button-style:hover{
    background-color: #40384B;
}

.main{
    background: url('../../assets/img/maries.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 20rem;
    margin-top: -1rem;
}