@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');


h1{
    font-family: 'PT Sans', sans-serif;
    color: #6E604C;
}

p{
    font-family: 'Didact Gothic', sans-serif;
}