@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

h1{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: #6E604C;
}

p{
    font-family: 'Didact Gothic', sans-serif;
}

.button-style{
    background-color:#F3D4B2;
    color: #372F3B;
    padding: .5rem;
    width: 10rem;
    border-radius: 2rem;
    border: 0;
    font-family: 'Didact Gothic', sans-serif;
}

.button-style:hover{
    background-color: #372F3B;
    color: #F3D4B2;
}

#delete-account{
    border-radius: 2rem;
    height: 3rem;
}