<div class="container">
    <h1 class="text-center">Mon profil</h1>
    <div class="card">
        <div class="card-body">
            <p>Nom :</p>
            <p>Prénom :</p>
            <p>Adresse e-mail : </p>
            <button class="btn btn-danger mt-4" id="delete-account">Supprimer mon compte</button>
        </div>
    </div>

    <h1 class="text-center">Modifier mes données</h1>

    <form>
        <div class="form-group">
            <label for="lastname">E-mail:</label>
            <input type="email" class="form-control">
        </div>

        <button class="btn button-style">Changer</button>
    </form>
</div>
