/*----------------
    BUTTONS
------------------*/ 

.transparent-button{
    border: 2px solid white;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 3rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}

.transparent-button:hover{
    color: $mole;
    text-decoration: none;
    background: white;
    border: 2px solid $mole;
}

.gradient-button{
    border: 0;
    padding: 1.5rem;
    width: 20rem;
    background: linear-gradient(125deg, $pink-peach, $yellow);
    color: white;
    text-align: center;
    border-radius: 3rem;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}

.gradient-button:hover{
    background: white;
    color: $pink-peach;
    border: 1.5px solid $pink-peach;
    text-decoration: none;
}

/*----------------
     FORMS
------------------*/ 

label, input{
    font-size: 1.6rem !important;
}

label{
    color: $orange !important;
    font-weight: bold;
}

input{
    border-radius: 3rem !important;
    border: 1px solid $pink-peach !important;
}

textarea{
    border-radius: 2rem !important;
    border: 1px solid $pink-peach !important;
}

::placeholder{
    color: $yellow !important;
    font-style: italic;
}

@media (min-width: 250px) and (max-width: 924px){
    .transparent-button, .gradient-button{
       padding: 1.3rem;
       width: 17rem;
    }

} 


