/*----------------
    SERVICES PAGE
------------------*/ 

#services-hero-header{
    background: url('../img/services.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 45rem;
    width: 100%;
}