/*----------------
    WELCOME PAGE
------------------*/ 

#welcome-hero-header{
    background: url('../img/hero-header.jpg');
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 100%;
    opacity: 0.7;
}

.hero-header-legend{
    color: white;
    text-shadow: $dark-color;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $mole 1px 0 10px;
    padding-top: 20rem;
    margin-bottom: 5rem;
}

