@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

p{
  font-family: 'Didact Gothic', sans-serif;
}

#search-provider{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
}

#button-search{
  float: left;
  width: 20%;
  padding: 10px;
  background: #F3D4B2;
  color: #372F3B;
  font-size: 17px;
  border: 0;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#button-search:hover{
  background: #372F3B;
  color: #F3D4B2;
}

.main{
  background: url('../../assets/img/table.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: -1rem;
    padding: 10rem;
}


.button-style{
  background-color:#F3D4B2;
  color: #372F3B;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  border: 0;
}

.button-style:hover{
  background-color: #372F3B;
  color: #F3D4B2;
}

#providers-legend{
    color: white;
    font-size: 2rem;
    text-shadow: 3px 3px 2px #372F3B;
}